# data
/dataset

# python
__pycache__/
*.py[cod]
*$py.class

# env
/.env
/.venv
/.python-version

# os
.DS_Store

# ide
.idea/
.vscode/

# jupyter
.ipynb_checkpoints/
/MRI Dataset/archive
MRI Dataset/archive.zip
MRI Dataset/Augmented_Alzheimer_Model.h5

# model
/MRI Dataset/model.png
/MRI Dataset/models/
